
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #F4F0E0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px; /* espace entre les images */
  padding: 4px;
}

.gallery a {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1; /* carré, adaptable */
  border: 2px solid rgb(162, 142, 113);
  overflow: hidden;
  border-radius: 7px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

.choix{
  letter-spacing: .03em;
  font-size: 1em;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  line-height: 27px;
  margin-top: 8%;
 /* margin-right: 2%; */


}

.Welcome {
  color: #2c2c2c;
   letter-spacing: .05em;
   text-shadow: 
     4px 4px 0px #d5d5d5, 
     7px 7px 0px rgba(0, 0, 0, 0.2);
 font-size:1.5em;
 font-family:  sans-serif;
 -webkit-animation: shift 2s ;
 animation: shift 2s ;
 margin-top: 60px;
 text-align:center;
 text-transform:uppercase;
 margin-right: 7px;
}
h2 {
 animation: appear 3.2s;
 text-align:center;
}

@keyframes shift {
 0% {opacity:0;}
 33% {margin-top:0px;opacity:0;}
 100% {margin-top: 60px; opacity:1; text-shadow: 
     4px 4px 0px #d5d5d5, 
     7px 7px 0px rgba(0, 0, 0, 0.2);}
}

@keyframes appear {
 0% {opacity:0;}
 50% {opacity:0;}
 100% {opacity:1;}
}
